extends ../layouts/main.jade

append showcase
  .Showcase
    .Grid
      .Grid-col.Grid-col--12
        h1.Showcase-title
          | Entretenez
          span.Ampersand &
          | développez votre mémoire …

append content
  .Grid
    .Grid-col.Grid-col--8
      h2.Introduction-title
        | Le concept
        span Mens Sana
      ol.Introduction-list
        li.Introduction-item
          p.Introduction-text.
            Etre efficace, c’est déterminer et appliquer la bonne solution à
            un problème nouveau, ou encore améliorer la méthode pour traiter
            une tâche habituelle et surtout conserver dans le temps une
            capacité intellectuelle vive et fiable et une rigueur
            impeccable de raisonnement dans les fonctions occupées.
            Ceci requiert de disposer en permanence de la pleine mesure de notre
            potentiel cérébral, de le développer, de l’entretenir.
        li.Introduction-item
          p.
            Si la culture du corps a pris tant d’importance dans nos sociétés,
            celle des capacités intellectuelles reste ignorée, oubliée.
            Or, les ressources de ces capacités sont telles que l’on
            ne peut que s’étonner que l’apprentissage de leur développement
            et de leur entretien soit négligé à ce point.
        li.Introduction-item
          p.Introduction-text.
            MENS SANA propose un apprentissage de développement et
            d’entretien de vos capacités cérébrales pour
        
          ul
            li Mieux se concentrer
            li Mieux mémoriser
            li Mieux raisonner
            li Mieux imaginer
            li Mieux s’exprimer
            li Mieux valoriser les autres et soi-même
            li Mieux réaliser
        
        li.Introduction-item
          p.Introduction-text.
            Nos moyens de connaissance et d’action, tels que notre savoir,
            notre érudition, notre facilité d’élocution,
            la richesse et la variété de notre style, notre esprit de répartie,
            l’àpropos de nos décisions, la faculté de nous adapter
            aux circonstances, s’appuient sur la mémoire, la concentration
            et l’art de raisonner. Ces qualités forment les bases
            des <strong>trois programmes</strong> élaborés par MENS SANA :
          .Programmes
            .Programme
              h3.Programme-title
                | Mnémosyne
              img(
                src='./images/mnemosyne.jpg'
                height='100'
                width='100'
                alt='mnemosyne'
              )
              p.Programme-description
                | Concentration
                br
                | •
                br
                | Mémoire
                br
                | •
                br
                | Créativité
              a.Button(href="#")
                | En savoir plus
            .Programme
              h3.Programme-title
                | Aristote
              img(
                src='./images/aristote.jpg'
                height='100'
                width='100'
                alt='aristote'
              )
              p.Programme-description
                | Analyser
                br
                | •
                br
                | Concevoir
                br
                | •
                br
                | Décider
              a.Button(href="#")
                | En savoir plus
            .Programme
              h3.Programme-title
                | Démosthene
              img(
                src='./images/demosthene.jpg'
                height='100'
                width='100'
                alt='demosthene'
              )
              p.Programme-description
                | S’exprimer
                br
                | •
                br
                | Exposer
                br
                | •
                br
                | Parler sans papier
              a.Button(href="#")
                | En savoir plus
        li.Introduction-item
          p.Introduction-text.
            L’originalité des programmes MENS SANA, à travers ses ateliers et
            ses séminaires, est de dispenser l’apprentissage d’une méthode
            qui, en s’adaptant à vos besoins propres, deviendra votre
            méthode personnelle utilisable pour toujours à votre gré.

append tiles
  .Tiles
    .Grid
      .Tile.Grid-col.Grid-col--4
        h3.Tile-title
          | … en stimulant vos capacités d'apprendre
        p.Tile-text
          | Que vous soyez étudiant, en activité
          | ou passionné pour une discipline qui sollicite
          | la mémoire
        a.Button(href="#")
          | En savoir plus
      .Tile.Grid-col.Grid-col--4
        h3.Tile-title
          | … en préservant votre capital mémoire
        p.Tile-text
          | et assurez votre efficience pour l'avenir
        a.Button(href="#")
          | En savoir plus
      .Tile.Grid-col.Grid-col--4
        h3.Tile-title
          | … en développant votre créativité
        p.Tile-text
          | puisque vos capacités créatives dépendent de votre mémoire
        a.Button(href="#")
          | En savoir plus
